$primary-color: #ffea20;

$white-color: #fcfcfc;
$black-color: #000000;
$red-color: #c70f18;
$blue-color: #3DC2EC;

$grey-color: #f9faff;
$grey-border-color: #ebeded;
$grey-text-color: #3f3f3f;
$grey-icon-color: #797f81;
$grey-icon-disabled-color: #d6dadb;