@use "@/styles/color" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'FlightSans-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Noto Sans KR';
  box-sizing: border-box;
}

html {font-size: 16px;}

html,
body {
  width: 100%;
  height: 100vh;
  word-break: keep-all;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: 100;
  overflow: hidden;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

h1 {
  font-family: 'FlightSans-Bold', 'Roboto';
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}